{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    About Rango
{% endblock %}

{% block body_block %}
    <h1>Rango says...<br>here is the about page.</h1>
    <div>
        hey there partner! <br/>
        <p>Visits: {{ visits }}</p>
        <strong>This tutorial has been put together by Pedro Belfort</strong><br/></div>
    <div>
        <img src="{% static 'images/rango.jpg' %}" alt="Picture of Rango"/>
        <img src="{{ MEDIA_URL }}cat.jpg" alt="Picture of a Cat"/>
    </div>
{% endblock %}
